.root{
	-fx-pref-width: 350;
	-fx-pref-height: 200;
	-fx-background-color: #afeeee;
}

.label{
	-fx-font-family: "Berlin Sans FB";
	-fx-font-size:  15px;
}

.button{
	-fx-pref-width: 80;
	-fx-pref-height: 40;
	-fx-font-size:  15px;
	-fx-font-family: "Berlin Sans FB";
	-fx-background-radius: 10px;
	-fx-background-color: 
		#008000,
        linear-gradient(#008000, #006400),
        radial-gradient(center 50% 0%, radius 100%, #008000, #006400);
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover{
	-fx-effect:dropshadow(three-pass-box, rgba(7,33,0,1), 10, 0, 0, 1 );
}