.root{
	-fx-pref-width: 350;
	-fx-pref-height: 200;
	-fx-background-color: #afeeee;
}

.label{
	-fx-font-family: "Berlin Sans FB";
	-fx-font-size:  15px;
}

.button{
	-fx-pref-width: 80;
	-fx-pref-height: 40;
	-fx-font-size:  15px;
	-fx-font-family: "Berlin Sans FB";
	-fx-background-radius: 10px;
	-fx-background-color: 
		#008000;
    -fx-text-fill: white;
}

.button:hover{
	-fx-effect:dropshadow(three-pass-box, rgba(7,33,0,1), 10, 0, 0, 1 );
}

.button:pressed{
	-fx-background-color:linear-gradient(#020b02, #3a3a3a);
}